/* Global Styles - Mobile First */

:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #f0a868;
    --secondary-color: #525b0f;
    --tertiary-color: #a4b8c4;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.teams-container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #f4f4f4;
    overflow-x:hidden;
    
}

.team-details{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(0, 10, 50);
}